body {
    background-color: hotpink;
}
header {
    background-color: aqua;
}
.container {
    
}
.text {
    display: inline-block;
    padding:20px;
}
.kokeilua {
    display: inline-block;
    padding:20px;
}
form {
    padding:10px;
}
.logo {
   width: 300px;
}
.error {
    background-color: yellow;
}

.robo {
    max-height: 100px;
}